@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color:rgb(24, 10, 41);
    width: 100%;
    height: 100%;
}

/*cabecalho + cont principal ---------*/

#scorpions{
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
}
#cabecalho{
    display:block;
    position: fixed;
    z-index: 8;
    width: 100%;
    background-color:white;
    top: 0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.371);
    border-bottom: 3px solid #33278D;
}
#cabecalho div h2{
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-size: 12pt;
    font-weight:600;
    color: rgba(0, 0, 0, 0.466);
    text-align: center;
    margin:0px auto 10px auto;
}
#contra div h2{
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-size: 12pt;
    font-weight:500;
    color: rgb(22, 22, 22);
    text-align: center;
    margin:0px auto 10px auto;
}
#cabecalho img{
    position: relative;
    display: block;
    width: 200px;
    margin: 10px auto 10px auto;
}
#contra{
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    visibility: hidden;
}
#contra img{
    position: relative;
    display: block;
    width: 200px;
    margin: 10px auto 10px auto;
}
/* whatsCb ----------------------- */

#whatsCb{
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 10;
    width: 40px;
}
#whatsCb img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 0px 8px 8px 8px;
    top: 7px;
}
/* Corpo + Prgramas ---------------------------------------------- */
#contPrinc{
    display: block;
    width: 100%;
    position: relative;
    border-radius: 8px;
}
#listPgms{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 10px auto;
    top: 5px;
    background-color:/*rgb(209, 209, 209)*/ white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
#ulistPgms{
    display: flex;
    flex-wrap: wrap;
    color:rgb(209, 209, 209);
}
#ulistPgms li{
    position: relative;
    flex: 1 1 auto;
    min-width: 70px;
    background-color: transparent;
    color: black;
    font-family: Gadugi;
    font-weight: 100;
    margin: 5px 5px;
    font-size: 9pt;
    padding:10px 9px;
    text-align: center;
    border-radius: 4px;
}
#ulistPgms li:hover{
    background-color: rgb(229, 231, 232);
}


#ulistPgms li img {
    background-color: rgb(229, 231, 232);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 9px;

}


a{
    text-decoration: none;
}
#ulistPgms .titPgms {
    flex: 1 1 100%;
    border-bottom: 3px solid rgb(107, 106, 106);
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: left;
    border-radius: 0;
    font-size: 160%;
    margin: 15px 20px;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    color: #33278D;
    background-color: transparent;
    display: block;
    left: 0;
    width: 100%;
}
/* Media Query---------------------------------------------- */

@media only screen and (min-width: 680px) {
    #ulistPgms .titPgms {
        font-size: 160%;
    }
    #cxCata h1{
        font-size: 160%;
    }
    #ulistPgms2 .titPgms {
        font-size: 160%;
    }
    #tutoWh ol li{
        font-size: 12pt;
    }
  }
@media only screen and (max-width:600px){
    #slideCp h1{
        font-size: 100%;
    }
}

/* Nav serviços ---------------------------------------------- */


#supRemoto ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(209, 209, 209);
    border-radius: 0px 0px 8px 8px;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 0 auto 10px auto;
}
#supRemoto ul li{
    display: block;
    position: relative;
    flex: 1 1 250px;
    background-color: rgba(255, 255, 255, 0.822);
    padding: 10px;
    margin-bottom: 5px;
    margin: 10px;
    border-radius: 5px;
    color:#6e216d;
    border: 2px solid rgb(212, 212, 212);
}
#supRemoto ul li h2{
    text-align:left;
    font-weight: 500;
    color: rgb(49, 49, 49);
}
#supRemoto ul li p{
    color: rgb(68, 68, 68);
}
#supRemoto button{
    background-color: #0080ff;
    border: #0077ED  solid 2px;
    margin: 5px auto 0 auto;
    display: block;
    padding: 2.5px 10px;
    border-radius: 5px;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-weight:bolder;
    font-size: large;
    color: white;
    width: 100%;
}
#supRemoto .trtx{
    width: 100%;
    text-align: center;
    color:rgb(26, 26, 26) ;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-size:20pt;
    color: white;
}
/* rda pé -------------------------*/
#idfooter{
    background-color: rgb(80, 80, 80);
    background-image: url(botttt.jpg);
    display: block;
    position: relative;
    width: 100%;
    color: white;
    z-index: 1;
    top: 5px;
}
#idfooter #fh21{
    flex: 1 1 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-size: 80%;
    font-weight: 500;
    list-style: none;
    padding: 15px 0 0  0;
}
#idfooter #fh22{
    flex: 1 1 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-size: 80%;
    font-weight: 500;
    list-style: none;
    padding: 0 0 15px 0;
}
#idfooter h2{
    text-align: center;
}
#idfooter  ul{
    display: flex;
    flex-wrap: nowrap;
}
#tels li{
    flex: 1 1 30%;
    background-color: #33278D;
    border: 2px solid #2d2380;
    padding: 2px;
    color: white;
    font-weight: bolder;
    font-size: 100%;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
@media only screen and (max-width: 565px) { 
    #cabecalho div h2{
        font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
        font-size: 8pt;
        font-weight:600;
        color: rgba(0, 0, 0, 0.466);
        text-align: center;
        margin:0px auto 10px auto;
    }
    #contra div h2{
        font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
        font-size: 8pt;
        font-weight:600;
        color: rgb(22, 22, 22);
        text-align: center;
        margin:0px auto 10px auto;
    }
    #emdev h2{
        font-size: 10pt;
    }
}

/*  memes  */

#listmemes{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 10px auto;
    top: 5px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border: none;
}
#ulistmemes{
        display: flex;
        flex-wrap: wrap;
        color:white;
        border: none;
}
#ulistmemes li {
    flex: 1 1 230px;
    text-align: center;
    margin: 10px 20px;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    border: none;
    padding-top: 5px;
    color: white;
}
#ulistmemes li img{
    position: relative;
    width: 100%;
    border: 2px solid rgba(116, 116, 116, 0.678);
}


/*               em dev                   */
#emdev{
    background-color:rgba(0, 0, 0, 0.822);
    position: fixed;
    z-index: 2;
    width: 100%;
    display: block;
    height: 100%;
    opacity: 0;
    transition: 1.5s;
}
#emdev #h2{
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
    top: 50%;
    display: block;
    position: relative;
    transform: translate(0,-100%);
    color: rgb(59, 59, 59);
    padding: 15px 10px;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;   
}
#emdev h2{
    margin-bottom: 8px;
}
#sabx::after{ 
    content: '';
    display: block;
    position: absolute;
    width: 3.5px;
    height: 17px;
    transform: rotate(-45deg);
    top: 5px;
    background-color: red;
    right: 10px;
}
#sabx::before{ 
    content: '';
    right: 10px;
    display: block;
    position: absolute;
    width: 3.5px;
    transform: rotate(45deg);
    height: 17px;
    top: 5px;
    background-color: red;
}
#sabx{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: block;
    z-index: 5;
    position: absolute;
    top: 5px;
    right: 10px;
}

#buttemdev{
    display: block;
    border-radius: 3px;
    background-color: #0080ff;
    color: white;
    margin-top: 10px 0 0 0;
    padding: 1px 10px;
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12pt;
    box-shadow: 1px 1px 3px #0000008e;
    border: 2px solid #0079f1;
    cursor: pointer;
}

.sabertap{
    cursor: pointer;
}




























a{
    color: white;
}

button{
    padding: 5px 15px;
    font-weight: bolder;
    background-color: #0077ED;
    color: white;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid #595959;
    border-right: 1.5px solid #595959;
    cursor: pointer;
}
#cxImgTxt{
    position: relative;
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
    z-index: 1;
}
#dispflex{
    position: relative;
    display: flex;
    width: 100%;
}
#cxImgTxt img{
    border: solid rgba(255, 255, 255, 0.973) 3px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    display: block;
}
#Txt{
    margin-left: 10px;
    width: 100%;
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
}
#Txt h2{
    color: rgba(255, 255, 255, 0.973);
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
}
#Txt p{
    color: rgb(233, 233, 233);
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
}
#Txt button{
    margin-top: 5px;
}
#cxnavbuts{
    text-align: left;
    margin-top: 10px;
}

#cxnavbuts button{
    margin-right: 5px;
}
/*dddd*/

#base{
    position: relative;
    display: block;
    width: 100%;
    background: #afafaf;
}
#secItens{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: transparent;
    width: 95%;
    margin: 0 auto;
    top: -15px;
}
#secItens .item{
    flex: 1 1 220px;
    max-width: 300px;
    position: relative;
    display: block;
    margin: 15px 15px;
    background-color: white;
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 1px rgba(43, 43, 43, 0.425);
}
#secItens .item img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 10px auto;
}
#secItens p{
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    margin:10px 0;
    color: rgb(80, 80, 80);
    font-size: 11pt;
}
#secItens h2{
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    color: #212124;
    font-weight: normal;
    border-top: 1px solid rgba(51, 51, 51, 0.479);
    margin-top: 5px;
    border-width: 100%;
    font-size: 18pt;
    padding-top: 5px;
}
#secItens h3{
    font-family: -apple-system,Helvetica ,Helvetica,Arial,sans-serif;
    color: #00a650;
    font-weight: normal;
    font-size: 14px;
}



@media only screen and (max-width: 565px) {
    #cabecalho{
        background-position-y: -15px;
    }
    #secItens .item{
        margin: 10px auto;
    }

    #cabecalho ol{
    position: absolute;
    display: block;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    width: 40%;
}
#cabecalho ol li{
    list-style: none;
    padding: 2px 5px;
    text-align: center;
    margin: 2px 5px;
    border-radius: 3px;
    border: .3px solid rgba(0, 0, 0, 0.178);
    font-size: 16px;
    font-family: sans-serif, Arial;
    color: white;
    background-color: #0077ED;
    width: 100%;
}

#cxImgTxt img{
    border: solid rgba(255, 255, 255, 0.973) 3px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    display: block;
}
#Txt{
    margin-left: 10px;
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
}
#Txt h2{
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.973);
}
#Txt p{
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
    color: rgb(233, 233, 233);
    font-size: 9pt;
}
#Txt button{
    margin-top: 5px;
    font-size: 9pt;
    padding: 3.5px 6px;
}
#cxnavbuts{
    text-align: left;
    margin-top: 5px;
    font-size: 8pt;
}

#cxnavbuts button{
    font-size: 9pt;
}
}
/*
@media only screen and (min-width: 1300px) {
    #cxnavbuts{
        text-align: center;
        margin-top: 15px;
        position: absolute;
        display: block;
        top: -15px;
        right: 0;
    }
    
    #cxnavbuts button{
        margin: 0 5px;
        font-size: 10pt;
    }
}
*/

#corr{
    font-size: 8pt;
    font-weight: bold;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}
.ui-pdp-icon--full {
    fill: #00a650;
    position: relative;
    top: 5px;
    height: 16px;
    width: 56px;
    margin-top: -1px;
}
    input{
    font-size: 70%;
    font-weight: bolder;
    background-color: #00a650c5;
    border: 1px solid #00a650;
    padding: 1px 2px;
    display: block;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 60px;
    border-radius: 3px;
    right: 15px;
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
}
.a1111{
width: 15px;
}
.centapp{
position: absolute;
display: block;
width: 30px;
z-index: 3;
right: 42%;
top: 10px;
fill: #0077ED;
}



/*pop*/


#cxsobre{
    position: fixed;
    display: none;
    width: 80%;
    background-color: #0077ee;
    border:3px solid #005bb6;
    border-radius: 2.5px;
    padding: 10px;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,0);
    top: 30%;
    transform: translate(-50%,-0);
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
}
#cxsobre h2{
    font-family:  Gadugi, Arial, Helvetica, sans-serif;
    color: white;
}
#cxsobre p{
    color: rgb(226, 226, 226);
}

#secItens .item .divdd{
    color:rgb(34, 34, 34);
    font-size: 10.5pt;
}
